:root {
	--light: #FAFAFA;
	--primary: #054263;
	--text-dark: #181818;

	--p-button-primary-background: #0086e2 !important;
	--p-button-primary-color: #ffffff !important;
	--p-button-primary-text-color: #ffffff !important;
	--p-button-primary-border-color: #0086e2 !important;
	--p-button-primary-hover-background: #0066b3 !important;
	--p-button-primary-hover-color: #ffffff !important;
	--p-button-primary-hover-border-color: #0086e2 !important;
	--p-button-primary-active-background: #0086e2 !important; 
	--p-button-primary-active-text-color: #ffffff !important;
	--p-button-primary-active-border-color: #0086e2 !important;
	

	
	--p-input-text-color: #054263 !important;
	--p-inputtext-color: #054263 !important;
	--p-inputtext-background: #ffffff !important;
	--p-inputtext-border-color: #e5e7eb !important;
	--p-inputtext-border-radius: 8px !important;
	--p-inputtext-focus-border-color: #0f6999 !important;
	--p-inputtext-disabled-background: #f8fafc !important;
	
	
	// // Button
	// --p-button-text-secondary-hover-background: #e7f5fc !important;
	// --p-button-text-secondary-color: #054263 !important;
	// --p-textarea-background: #ffffff !important;
	// --p-textarea-border-color: #e5e7eb !important;
	// --p-textarea-focus-border-color: #0f6999 !important;
	// --p-textarea-focus-color: #054263 !important;
	// --p-textarea-color: #054263 !important;
	// // --p-textarea-placeholder-color: #054263 !important;
	// --p-textarea-placeholder-focus-color: #054263 !important;
	// --p-textarea-placeholder-focus-background: #e7f5fc !important;

}
