@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Onest-Bold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Onest-SemiBold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Onest';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Onest-Regular.woff2') format('woff2');
}

